# LAMMPS files
*.lmp
*.xyz

# Compiled executable files
*.out

# Misc.
*.vscode

# Python files
__pycache__

# Specific files made/used during development and testing
atom_disp_test
OpenLAMMPSToolbox
olt_*
run_*
main_dev.cpp


# CMake files
/build
